Repository DDMAL/diva.js, pull requests merged in 2018-08, with the labels that each got.

#428 Unit tests
  README.md
  gulpfile.js
  index.html
  karma.conf.js
  package-lock.json
  package.json
  source/css/diva.css
  source/js/diva.js
  source/js/plugins/metadata.js
  source/js/toolbar.js
  test/_setup.js
  test/composite-image_test.js
  test/hash-params_test.js
  test/image-cache_test.js
  test/main.js
  test/navigation_test.js
  test/plugins_test.js
  test/public_test.js
  test/settings_test.js
  webpack.config.js
  webpack.config.test.js
Labels: Status: New, Type: Code maintenance / Tests

#429 Disable metadata plugin if manifest doesn't have metadata
  .travis.yml
  karma.conf.js
  source/css/_viewer.scss
  source/css/diva.css
  source/js/diva.js
  source/js/image-manifest.js
  source/js/parse-iiif-manifest.js
  source/js/plugins/metadata.js
  source/js/toolbar.js
Labels: Component: Plugins

#430 WIP: IIIF v2 and v3 Parsing
  README.md
  index.html
  package.json
  source/css/_viewer.scss
  source/js/diva.js
  source/js/parse-iiif-manifest.js
  source/js/plugins/metadata.js
  source/js/utils/label-value-parser.js
  test/manifests/iiifv2.json
  test/manifests/iiifv2pages.json
  test/manifests/iiifv3.json
  test/parse-iiif-manifest_test.js
  test/settings_test.js
  test/utils/hash-params_test.js
Labels: Component: Core, Priority: High, Status: New

#437 Manipulation Plugin and Page Labels
  .jshintrc
  .travis.yml
  demo/index.html
  index.html
  package-lock.json
  package.json
  source/css/_variables.scss
  source/css/_viewer.scss
  source/css/plugins/_manipulation.scss
  source/js/diva.js
  source/js/document-handler.js
  source/js/document-layout.js
  source/js/grid-handler.js
  source/js/page-tools-overlay.js
  source/js/parse-iiif-manifest.js
  source/js/plugins/_filters.js
  source/js/plugins/manipulation.js
  source/js/plugins/metadata.js
  source/js/renderer.js
  source/js/toolbar.js
  source/js/utils/dragscroll.js
  source/js/utils/parse-label-value.js
  source/js/viewer-core.js
  source/js/viewport.js
  test/hash-params_test.js
  test/navigation_test.js
  test/parse-iiif-manifest_test.js
  test/public_test.js
  test/settings_test.js
  test/utils/parse-label-value_test.js
  test/z_plugins_test.js
Labels: Component: Core, Component: Plugins, Priority: High, Status: New
